<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" [class.invalid]="email?.invalid && email?.touched" />
      <div *ngIf="email?.invalid && email?.touched" class="error-message">Email invalide.</div>

    </div>
    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        [class.invalid]="password?.invalid && password?.touched"
      />
    </div>
    <button type="submit" [disabled]="authForm.invalid">Envoyer</button>
    <div *ngIf="authForm.invalid" class="error-message">Veuillez corriger les erreurs dans le formulaire.</div>

  </form>