
<a href="#" >
    <div class="row" style="margin-left: 5%; width: 100%;">
        <app-item-cv style="width: 100%;" [imageUrl]="yourImageUrlHere"></app-item-cv>
    </div>
</a>
<a>
    <div class="row" style="margin-left: 5%; width: 100%;">
        <app-item-cv style="width: 100%;" [imageUrl]="yourImageUrlHere1"></app-item-cv>
    </div>
</a>
<a>
    <div class="row" style="margin-left: 5%; width: 100%;">
        <app-item-cv style="width: 100%;" [imageUrl]="yourImageUrlHere2"></app-item-cv>
    </div>
</a>
