<div class="row" style="padding: 5%;  display: flex; justify-content: center;">
    <label for="colorInput">Couleur du texte: </label>
    <input type="text" id="colorInput" [(ngModel)]="textColor" (input)="applyStyles()" />
  
    <label for="fontSizeInput">Taille de la police: </label>
    <input type="number" id="fontSizeInput" [(ngModel)]="fontSize" (input)="applyStyles()" />
  
    <label for="fontFamilySelect">Police: </label>
    <select id="fontFamilySelect" [(ngModel)]="fontFamily" (change)="applyStyles()">
      <option value="Arial">Arial</option>
      <option value="Verdana">Verdana</option>
      <option value="Times New Roman">Times New Roman</option>
      <!-- Ajoutez d'autres polices si nécessaire -->
    </select>
  </div>
  
  <div [ngStyle]="paragraphStyles" class="row" style="padding: 5%;  display: flex; justify-content: center; background-color: lightgray;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vitae ex euismod, faucibus libero non, eleifend elit.
  </div>